[Unit]
Description=remountd control socket

[Socket]
ListenStream=/run/remountd/remountd.sock
SocketUser=root
SocketGroup=remountd
SocketMode=0660
Accept=no

[Install]
WantedBy=sockets.target
