[Unit]
Description=remountd request handler

[Service]
ExecStart=/usr/sbin/remountd
StandardError=journal

User=root
Group=root
NoNewPrivileges=yes
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SYS_CHROOT
AmbientCapabilities=

PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
SystemCallArchitectures=native
